DTD/mushaf.dtd

<!ELEMENT Mushaf (Sura+)>
<!ATTLIST Mushaf TranslationID CDATA #REQUIRED>
<!ATTLIST Mushaf Writer CDATA #REQUIRED>
<!ATTLIST Mushaf Language CDATA #REQUIRED>
<!ATTLIST Mushaf LanguageIsoCode CDATA #REQUIRED>
<!ATTLIST Mushaf Direction (rtl|ltr) #REQUIRED>
<!ELEMENT Sura (aya+)>
<!ATTLIST Sura ID CDATA #REQUIRED>
<!ATTLIST Sura Nb_aya CDATA #REQUIRED>
<!ATTLIST Sura Nozol CDATA #REQUIRED>
<!ATTLIST Sura Name CDATA #REQUIRED>
<!ELEMENT aya (#PCDATA)>
<!ATTLIST aya ID CDATA #REQUIRED>
